@model IEnumerable<RentItEasy.Areas.User.ViewModels.AppointmentViewModel>
@{
    ViewData["Title"] = "My Appointments";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="row">
    @if (!Model.Any())
    {
        <h5 class="text-center">None</h5>
    }
    else
    {
        @foreach (var appointment in Model)
        {
            <div class="form-control-range adView">
                <br />
                <h5 style="text-align:center">For Property: @appointment.Title</h5>
                <hr />
                <h5 style="text-align:center">Viewer Name: @appointment.UserFirstName @appointment.UserLastName</h5>
                <hr />
                <h5 style="text-align:center">Viewer Phone: @appointment.PhoneNumber</h5>
                <hr />
                <a asp-area="Agency" asp-controller="Appointment" asp-action="Arranged" asp-route-id="@appointment.Id" class="btn btn-primary">Arranged</a>
            </div>
        }
    }

</div>