@{
    ViewData["Title"] = "Details";
}

<form>
    <div>
        <text>Rent: @Model.Name</text>
        <hr />
        <text>Location: @Model.Description</text>
        <hr />
        <text>Size: @Model.Address</text>
        <hr />
        <text>Property Type: @Model.PhoneNumber</text>
        <hr />
        <text class="text-right">Rating: @Model.Rating</text>
    </div>
</form>
