@model RentItEasy.Areas.User.ViewModels.FullAdViewModel
@{
    ViewData["Title"] = "View Ad";
}

<h1 align="center">@Model.Title</h1>

<div class="row">
    @foreach (var imagePath in Model.ImagesPaths)
    {

        <div class="col-md-4" style="width: 18rem;">
            <img src=@imagePath.Path class="mr-10" alt="Card image cap" height="180" width="287">
        </div>
    }
</div>

<hr />

<form>
    <div>
        <text>Rent: @Model.RentPrice</text>
        <hr />
        <text>Location: @Model.Location</text>
        <hr />
        <text>Size: @Model.Size</text>
        <hr />
        <text>Property Type: @Model.PropertyType</text>
        <hr />
        <text>Building Class: @Model.BuildingClass</text>
        <hr />
        <text>Description: @Model.Description</text>
    </div>
</form>

<div class="row">
    <div style="width:70px" class="col">
        <a asp-area="User" asp-controller="Ad" asp-action="EditAd" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-area="User" asp-controller="Ad" asp-action="DeleteAd" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    </div>
</div>
